@import url(variable.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--family-Inter);
}
body {
  height: 100vh;
  background: var(--color-bg);
  position: relative;
}
ul,
li {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
